<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <form th:action="@{/users/{userId}/update(userId=${user.id})}"
          enctype="multipart/form-data"
          method="post"
          th:object="${user}">
        <label for="username">Username:
            <input id="username" type="text" name="username" th:value="*{username}">
        </label><br>
        <label for="birthDate">Birthdate:
            <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
        </label><br>
        <label for="firstname">Firstname:
            <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
        </label><br>
        <label for="lastname">Lastname:
            <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
        </label><br>
        <div th:if="${user.image}">
            <img th:src="@{/api/v2/users/{userId}/avatar(userId=${user.id})}" alt="User image">
        </div>
        <label for="image">Upload image:
            <input id="image" type="file" name="image">
        </label><br>
        <div th:each="role:${roles}">
            <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
            <label th:for="${role}" th:text="${role}">Role name</label>
        </div>
        <div>
            <label for="company">Company:
                <select id="company" name="companyId">
                    <option th:value="${company.id}"
                            th:selected="${company.id == user.company.id}"
                            th:each="company:${companies}"
                            th:text="${company.name}">Company</option>
                </select>
            </label>
        </div>
        <button type="submit">Update</button>
    </form>
    <form th:action="@{/users/{userId}/delete(userId=${user.id})}"
          th:if="${user.role.name() == 'ADMIN'}"
          method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>